.jobContainer {
  border: 1px solid rgb(180, 95, 16);
  display: flex;
  flex-direction: column;
}

.jobDetail {
  width: 30vw;
  margin-left: 1em;
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: column;
}

.titleBox {
  display: flex;
  flex-direction: row;
}

.favIcon {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  margin-top: 1em;
}

.otherIcons {
  display: flex;
  margin-right: 1em;
  margin-bottom: 1em;
}

.iconBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.favIcon:hover {
  color: pink;
}

.otherIcons:hover {
  cursor: pointer;
}

.avatar {
  margin: auto;
  margin-left: 0.5em;
}
