.navbarButton {
  width: 10vh;
  height: 3vh;
  /* margin-left: 1vw;
  margin-right: 1vw; */
}

.navbar {
  display: flex;
  /* width: 100%;
  height: 2vh; */
  /* justify-content: center;
  align-items: center; */
  /* background-image: linear-gradient(to top left, lightskyblue, snow); */
  /* position: fixed;
  left: 0;
  top: 0;
  z-index: 20; */
}

.user {
  display: flex;
}

.navbarBox {
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to top left, lightgrey, snow);
  position: fixed;
  left: 0;
  top: 0;
}
